.main {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 9px
}

.players {
    width: 50%;
    height: 100%;
    background-color: pink
}

.starters {
    width: 50%;
    height: 100%;
    background-color: violet
}

.player{
    width: fit-content !important;
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: white;
    margin-left: 10px;
    padding: 5px;
    border-radius:9px;
    box-shadow: 9px 4px 2px grey;
    transition: transform .2s;
    text-align: center
}

.player:hover {
    transform: scale(1.2)
}

